.bigText {
  font-style: normal;
  font-weight: bolder;
  font-size: 19px;
  line-height: 23px;
}

.mainText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.subText {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
